# /etc/systemd/system/huemon.service
# service file for Hue Monitor
# https://github.com/sqren/huemon

[Unit]
Description=Hue Monitor
ConditionPathExists=/opt/huemon
After=network.target

[Service]
Type=simple
User=pi
Environment=NODE_VERSION=14
StandardOutput=file:/opt/huemon/output.log
StandardError=file:/opt/huemon/error.log
WorkingDirectory=/opt/huemon
ExecStart=/home/pi/.nvm/nvm-exec /usr/bin/yarn start
Restart=always
RestartSec=10
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
